<h1>Welcome to Holly Bolly Cafe , <%= @user.name %></h1>
  <p>
    You have successfully signed up as member of Holly  Bolly Cafe ,
    your username is: <%= @user.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
