<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<header class="break">
<h2>All Orders</h2>
</header>


<% @orders.each do |order| %>
    <p>Name: <%= order.name %></p>
    <p>Email: <%= order.email %></p>
    <p>cart Items: </p>
    <ul>
    <% order.cart_items.each do |dish| %>
        <li><%= dish.quantity %> x <%= dish.dish.name %></li>
    <% end %>
    </ul>
<% end%>
