<h1> new of favourite dish</h1>
  <%= form_for @favourite_dish do |f| %>


     Add item to your favourite
     <%= f.hidden_field :user_id, value: current_user.id %>
     <%= f.hidden_field :dish_id, value: @dish.id %>

    <%= f.submit  %>
  <% end %>


