// Place all the styles related to the catagories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category li{ float:left;
    list-style: none;
    margin: 13px 20px}
.category{
    background-color: darkslategray;
    border-radius: 10px;}
.category ul{
        overflow: auto;
    }
.category li a{
    padding: 3px 3px;
    text-decoration: none;
    color: black;
    }
.category li a:hover{
        color: red
    }
