// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tr{
    background-color: grey;
}
.table{
    background-color: lightgray;
}
h2{
    text-align: center;
    background-color: antiquewhite

}
tr:nth-child(odd){
    background-color: antiquewhite;
}
