<h1>Available Categories </h1>
<div class="category">
   <ul>
      <% @categories.each do |category| %>
         <li><%= link_to category.category_name, category_path(category) %></li>
      <% end %>
   </ul>
</div>

<%
=begin%>
 <% @categories.each do |items|%>
 <p>
    <strong>menu items:</strong><%= items.category_name %> </br>
 </p>
<%end%>
<%
=end%>
